<div class="item">
  <div class="alumni">
    <p>
      เมื่อผมเรียนคอร์ด UX Academy ของพี่แบงค์จบผมรู้สึกทันทีว่า<br/>
      <br/>
      <b>"อยากให้ฝ่ายอื่นในทีมมาร่วมเรียนด้วย" </b><br/>
      <br/>
      เพราะเป็นคอร์ดเรียนสั้นๆ ที่ดีมากครับทำให้รู้ว่าจะสังเกต และ เรียนรู้ผู้ใช้งานอย่างไร
      และ นำข้อมูลที่ได้มาใช้อย่างไรให้เหมาะสมกับงานของเรา
      ส่วนบรรยากาศในการเรียนก็ สนุก สบายๆ พี่แบงค์สอนเป็นกันเองมากๆครับ
    </p>
    <div class="profile">
      <img src="/images/alumni-tanet" />
      <span class="name">TANET ZIA A. 2</span>
      <span class="company">
        Co-Founder & Designer
        <a href="https://shopspotapp.com">@ ShopSpot</a>
      </span>
    </div>
  </div>
</div>