<div class="background-footer" >
  <footer>
    <div class="row">
      <div class="contact">
        <ul class="contact-list">
          <li>
            <p>{{ site.description }}</p>
          </li>
          <li>
            <a href="mailto:{{ site.email }}">
              <i class="fa fa-envelope"></i> {{ site.email }}
            </a>
          </li>
        </ul>
      </div>

      <div>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github-square"></i>
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter-square"></i>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.facebook_group %}
          <li>
            <a href="https://facebook.com/{{ site.facebook_username }}">
              <i class="fa fa-facebook-square"></i>
              <span class="username">Group: {{ site.facebook_group }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_page %}
          <li>
            <a href="https://facebook.com/{{ site.facebook_username }}">
              <i class="fa fa-facebook-square"></i>
              <span class="username">Page: {{ site.facebook_page }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="description">
        {% include facebook_page_plugin.html %}
      </div>
    </div>
  </footer>
</div>