<div class="services">
  <div class="row">
    <div class="overview">
      <h2>Service</h2>
      <p>
        UX Academy เปิดบริการให้คำปรึกษาแก่ บริษัทที่พัฒนา Web หรือ Desktop/Mobile Application ทั้งบริษัท Enterprise และ StartUp ในด้านต่างๆ ดังนี้
      </p>
    </div>
    <div class="service">
      <img src="/images/icon_coach.png" />
      <h3>UX Coaching</h3>
      <p>
        ร่วมกับทีมในการวิเคราะห์<br/>
        ความต้องการของผู้ใช้<br/>
        และ <b>พัฒนา UX Process<br/>
        ที่เหมาะกับองค์กร</b>
      </p>
    </div>
    <div class="service">
      <img src="/images/icon_test.png" />
      <h3>Usability Test</h3>
      <p>
        วิเคราะห์ UI รวมไปถึง Persona <br/>
        และ User Journey ของบริษัทผ่าน<br/>
        การทดสอบกับผู้ใช้จริง<br/>
      </p>
    </div>
    <div class="service">
      <img src="/images/icon_design.png" />
      <h3>UX Design</h3>
      <p>
        ใช้กระบวนการของ UX <br/>
        เพื่อออกแบบโปรแกรมบนมือถือ<br/>
        เว็บไซต์ และบริการ <br/>
        ที่จะทำให้ผู้ใช้รัก
      </p>
    </div>
  </div>
</div>