<div class="schedule">
  <h2>Schedule</h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Course</th>
        <th class="school">School</th>
        <th>Dates</th>
        <th class="price">Price</th>
        <th>Book &amp; Detail</th>
      </tr>
    </thead>
    <tbody>
      {% for event in site.data.schedule reversed limit:8 %}
        <tr>
          <td>{{ event.title }}</td>
          <td class="school">
          {% case event.school %}
            {% when "uxacademy" %}
              <img src="/images/logo_uxacademy.png" width="100"/>
            {% when "skooldio" %}
              <img src="/images/logo_skooldio.png" width="100"/>
            {% when "craftfig" %}  
              <img src="/images/logo_craftfig.png" width="100"/>
          {% endcase %}
          </td>
          <td>{{ event.date }}</td>
          <td class="price">
            {{ event.price }}
          </td>
          <td>
            {% if event.expire %}
              <a class="btn btn-info"
                  href="{{ event.gallery }}">
                <i class="fa fa-file-image-o"></i>
                Gallery
              </a><br/>
            {% else %}
              <a class="btn btn-success"
                  href="{{ event.booking }}">
                <i class="fa fa-calendar"></i>
                More detail
              </a><br/>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="inhouse-contact" >
  <h4 class="note">
    For Inhouse workshop, please contact
    <a href="tel:083-236-0009">083-236-0009</a> or
    <a href="tel:{{ site.email }}">{{ site.email }}</a>
  </h4>
</div>
