<div class="uxis">
  <div class="text-content">
    <h3>UX ที่ดี</h3>
    <p>
      จะช่วยให้เรา <b>เข้าใจผู้ใช้ได้มากกว่า
      ที่ผู้ใช้เข้าใจตัวเอง</b> ซึ่งจะช่วยให้เราออกแบบได้ตรงจุดมากขึ้น
      ลดงานซ้ำซ้อน ลดเวลาในการพัฒนาโปรแกรม
      และที่สำคัญคือช่วยให้เราพร้อมสำหรับการเปลี่ยนแปลง อยู่ตลอดเวลา เพราะเรารู้ว่าจะวัดผลได้อย่างไร
    </p>
  </div>
  <div class="image-content">
    <img src="/images/wireframe_1_160.png">
    <img src="/images/wireframe_2_160.png">
    <img src="/images/wireframe_3_160.png">
  </div>
</div>