<div class="schedule">
  <h2>Schedule</h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Course</th>
        <th>Dates</th>
        <th class="price">Price</th>
        <th class="price">Early Bird</th>
        <th>Book &amp; Detail</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fundamental, UI Workshop
        </td>
        <td>12 Nov, 2016</td>
        <td class="price">d
          4,500
        </td>
        <td class="price">
          <br/>
        </td>
        <td>
          <a class="btn btn-info"
             href="http://bit.ly/ui-workshop">
            <i class="fa fa-file-image-o"></i>
            Gallery
          </a><br/>
        </td>
      </tr>
      <tr>
        <td>Fundamental, UI Workshop
        </td>
        <td>21 Jan, 2017</td>
        <td class="price">
          4,500
        </td>
        <td class="price">
          <br/>
        </td>
        <td>
          <a class="btn btn-info"
             href="http://bit.ly/ui-workshop">
            <i class="fa fa-file-image-o"></i>
            Gallery
          </a><br/>
        </td>
      </tr>
      <tr>
        <td>80:20, UX Workshop
        </td>
        <td>23-24 March, 2017</td>
        <td class="price">
          9,500
        </td>
        <td class="price">
          6,500<br/>
        </td>
        <td>
          <a class="btn btn-success"
             href="http://bit.ly/uxa_fb_gallery">
            <i class="fa fa-file-image-o"></i>
            Gallery
          </a><br/>
        </td>
      </tr>
      <tr>
        <td>80:20, UX Workshop
        </td>
        <td>6-7 July, 2017</td>
        <td class="price">
          9,500
        </td>
        <td class="price">
          6,500<br/>
        </td>
        <td>
          <a class="btn btn-success"
             href="https://www.eventpop.me/e/1618">
            <i class="fa fa-calendar"></i>
            More detail
          </a><br/>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="inhouse-contact" >
  <h4 class="note">
    For Inhouse workshop, please contact
    <a href="tel:083-236-0009">083-236-0009</a> or
    <a href="tel:{{ site.email }}">{{ site.email }}</a>
  </h4>
</div>
