<div class="course-banner">
  <div id="course" class="course">
    <h2>Course</h2>
    <div class="row">
      <div class="basic">
        <div class="image-content">
          <img src="/images/basic_banner.jpg">
        </div>
        <div class="text-content">
          <h3>80:20, UX Workshop</h3>
          <p class="dark">
            เน้นความเข้าใจในขั้นตอนการออกแบบประสบการณ์ของผู้ใช้
            ผู้เรียนจะได้เรียนรู้เทคนิคการทำ <b>Customer
            Development การเขียน User Journey และการทำ Usability Test</b> เพื่อที่จะออกแบบโปรแกรมได้ตรงกับใจของผู้ใช้มากที่สุด
          </p>
        </div>
      </div>
      <div class="advance">
        <div class="image-content">
          <img src="/images/advance_banner.jpg">
        </div>
        <div class="text-content">
          <h3>UX Apply Workshop</h3>
          <p class="dark">
            ทดลองออกแบบ UX Process ด้วยตนเอง
            ผ่านการแนะนำจากทีมงาน และเนื้อหาของบทเรียนที่เน้นประสบการณ์ที่เกิดขึ้นจริงในการใช้ UX ในองค์กรแบบต่างๆ
            เพื่อให้ผู้เรียนสามารถประยุกต์ใช้ได้จริงในหน่วยงานของตนเอง
          </p>
        </div>
      </div>
    </div>
  </div>
</div>