<div class="course-banner">
  <div class="course">
    <h2>Course</h2>
    <div class="row">
      <div class="basic">
        <div class="image-content">
          <img src="/images/basic_banner.png">
        </div>
        <div class="text-content">
          <h3>UX Fundamental Workshop</h3>
          <p>
            เน้นความเข้าใจในขั้นตอนการออกแบบประสบการณ์ของผู้ใช้
            ผู้เรียนจะได้เรียนรู้เทคนิคการทำ Customer
            Development การเขียน User Journey และการทำ Usability Test เพื่อที่จะออกแบบโปรแกรมได้ตรงกับใจของผู้ใช้มากที่สุด
          </p>
          <a href="http://uxacademy.eventbrite.com" type="button" class="btn btn-success">Schedule &amp; Detail</a>
        </div>
      </div>
      <div class="advance">
        <div class="image-content">
          <img src="/images/advance_banner.png">
        </div>
        <div class="text-content">
          <h3>UX Apply Workshop</h3>
          <p>
            ทดลองออกแบบ UX Process ด้วยตนเอง
            ผ่านการแนะนำจากทีมงาน และเนื้อหาของบทเรียนที่เน้นประสบการณ์ที่เกิดขึ้นจริงในการใช้ UX ในองค์กรแบบต่างๆ
            เพื่อให้ผู้เรียนสามารถประยุกต์ใช้ได้จริงในหน่วยงานของตนเอง
          </p>
          <a href="http://uxacademy.eventbrite.com" type="button" class="btn btn-primary">Schedule &amp; Detail</a>
        </div>
      </div>
    </div>
    <h4 class="note">
      For Inhouse, please contact
      <a href="tel:081-403-3320">081-403-3320</a> or
      <a href="tel:apirakb@gmail.com">apirakb@gmail.com</a>
    </h4>
  </div>
</div>