<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/site_icons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/site_icons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/site_icons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/site_icons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/site_icons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/site_icons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/site_icons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/site_icons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="/images/site_icons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="/images/site_icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/images/site_icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/images/site_icons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/images/site_icons/favicon-128.png" sizes="128x128" />


<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="/images/site_icons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/images/site_icons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="/images/site_icons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/images/site_icons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/images/site_icons/mstile-310x310.png" />

<meta property="og:type" content="website" />
<meta property="og:title" content="UX Academy" />
<meta property="og:description" content="Professional User Experience Training" />
<meta property="og:url" content="http://uxacademy.in.th/" />
<meta property="og:site_name" content="UX Academy" />
<meta property="og:image" content="/images/site_icons/site_icon.png" />
<meta property="og:locale" content="en_US" />
<meta name="twitter:image" content="/images/site_icons/site_icon-256x256.png" />

<link rel="shortcut icon" href="/images/site_icons/favicon.ico" />