body {
  font-family: $base-font-family;
  color:#666;
  font-size:15px;
  font-weight: 400;
    -webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;
}

p {
  b, strong {
    color: $text-bold-color;
  }
}

.container{
  max-width: 970px;
}

.navbar-nav {
  a {
    color: #fff;
    font-weight: bold;
  }
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
  padding: 11px 15px;
  > img {
      display: inline;
  }
}

/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
        fill: $grey-color;
    }
  }
}
