.blog {
  // margin-top: $nav-height;
  .banner {
    background-image: url('/images/blog_banner_blue.jpg');
    background-position-y: 30%;

    @include media-query($on-palm) {
      background-size: 110% auto;
      background-position-y: 0px;
      padding: 20px;
      .content {
        padding: 60px 0px 35px;
      }
      h1 {
        font-size: $large-font-size;
        font-weight: bold;
      }
      p {
        display: none;
      }
    }
  }

  .articles {
    @extend .container;
    .article-index {
      @include easyread-layout;
      list-style: none;
      padding-left: 0;
      li {
        margin: 0 0;
      }
      h3 {
        margin-top: 10px;
        p {
          color: $text-bold-color;
        }
      }
      .article-title {
        font-size: 28px;
        color: $text_color;
        letter-spacing: -1px;
        margin-bottom: 4px;
        line-height: 1.2;
      }
      .article-date {
        color: $grey-color-light;
        font-style: italic;
        font-size: 16px;
        margin: 0;
        font-weight: 400;
        @media (max-width: 450px) { font-size: 14px; }
      }
      .article-excerpt {
        color: $text_color;
        margin: 7px 0 0;
      }
      .article-item {
        margin-top: $spacing-unit*2;
        p {
          img {
            height: 200px;
          }
        }
      }
      a {
        &:hover {
          h3 p , h3 p strong{
            color: red;
          }
          color: red;
          text-decoration: none;
        }
      }
    }
    @include media-query($on-palm) {
      .article-index {
        .article-title {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }

  .categories {
    @extend .container;
    margin-top: $spacing-unit;
    .content {
      @include easyread-layout;
      border-top: 1px solid $grey-color-light;
      border-bottom: 1px solid $grey-color-light;
      padding-left: 0px;
      padding-right: 0px;
      h4{
        float: left;
        margin-top: 15px;
      }
    }

    .category-list {
      margin-top: 10px;
      margin-bottom: 5px;
      float: right;
      padding: 0;
      list-style: none;
      li {
        float: left;
        > a {
          color: #fff;
          float: left;
          margin: 0 4px 8px;
          padding: 4px 8px;
          @media (max-width: 450px) { font-size: 16px; }
          background-color: #abc;
          border-radius: 5px;
          &:hover {
            opacity: .6;
            text-decoration: none;
          }
        }
      }
    }
    @include media-query($on-laptop) {
      padding-left: 25px;
      padding-right: 25px;
    }
    @include media-query($on-palm) {
      .content {
        border-top: 0;
        border-bottom: 0;
      }
    }
  }

  .pagination {
    @extend .container;
    display: block;
    text-align: center;
  }

  .rss-subscribe {
    @extend .container;
    text-align: center;
    margin-top: $spacing-unit*2;
    margin-bottom: $spacing-unit*2;
    @include media-query($on-palm) {
      margin-top: $spacing-unit;
      margin-bottom: $spacing-unit;
    }
  }

  .section-heading h2 {
    float: left;
    @media (max-width: 595px) { float: none; }

    &.other-writing { font-size: 36px; }
  }
}

