.blog {
  // margin-top: $nav-height;
  .banner {
    background-image: url('/images/blog_banner_blue.jpg');
    background-position-y: 30%;

    @include media-query($on-palm) {
      background-position-y: 0px;
      padding: 20px;
      .content {
        padding: 60px 0px 35px;
      }
      h1 {
        font-size: $large-font-size;
        font-weight: bold;
      }
      p {
        display: none;
      }
    }
  }

  .categories {
    @extend .container;
    border-top: 2px solid $grey-color-light;
    border-bottom: 2px solid $grey-color-light;
    margin-top: $spacing-unit;

    h2{
      float: left;
    }
    .category-list {
      margin-top: 20px;
      float: right;
      padding: 0;
      list-style: none;
      li {
        float: left;
        > a {
          color: #fff;
          float: left;
          margin: 0 4px 8px;
          padding: 4px 8px;
          @media (max-width: 450px) { font-size: 16px; }
          background-color: #abc;
          border-radius: 5px;
          &:hover {
            opacity: .6;
            text-decoration: none;
          }
        }
      }
    }
    @include media-query($on-palm) {
      display: none;
    }
  }

  .articles {
    @extend .container;
    .article-index {
      @include easyread-layout;
      list-style: none;
      padding-left: 0;
      li {
        margin: 0 0;
      }
      h3 {
        margin-top: $spacing-unit;
        p {
          color: $text-bold-color;
        }
      }
      .article-title {
        font-size: 28px;
        color: $text_color;
        letter-spacing: -1px;
        margin-bottom: 4px;
        line-height: 1.2;
      }
      .article-date {
        font-size: 16px;
        margin: 0;
        font-weight: 400;
        @media (max-width: 450px) { font-size: 14px; }
      }
      .article-excerpt {
        color: $text_color;
        margin: 7px 0 0;
      }
      a { display: block;
        &:hover { opacity: .8; }
      }
    }
    @include media-query($on-palm) {
      .article-index {
        .article-title {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }

  .rss-subscribe {
    @extend .container;
    margin-top: $spacing-unit*2;
  }

  .section-heading h2 {
    float: left;
    @media (max-width: 595px) { float: none; }

    &.other-writing { font-size: 36px; }
  }
}

