.home {
  margin-top: $nav-height;
}

#banner {
  background-image: url('/images/uxacademy_banner_blue.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-color: #ccc;
  color: #fff;
  text-align: center;
  .banner-content{
    padding: 180px 0px;
    .banner-text{
      width: 100%;
      max-width: 800px;
      margin: 0px auto 20px auto;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      h1{
          font-size: 56px;
          text-transform: uppercase;
          font-family: $base-font-family;
          font-weight: bold;
          margin-bottom: 0px;
      }
      h4{
          font-size: 20px;
          font-family: $base-font-family;
          margin-bottom: 20px;
      }
    }
  }
}

.uxis {
  @extend .container;
  .text-content {
    padding-top: 100px;
    @extend .col-md-4;
  }
  .image-content {
    @extend .col-md-8;
    padding: $spacing-unit*2 0px;
    text-align: center;
    img {
      width: 160px;
      margin-right: $spacing-unit;
    }
    img:last-child {
      margin-right: 0px;
    }
  }
}

.course-banner{
  background-image: url('/images/course_banner_blue.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-color: #ccc;
}

.course {
  @extend .container;
  padding: $spacing-unit;
  color: #fff;
  h2{
    text-align: center;
    font-weight: bold;
  }
  h3{
    margin-top: 0px;
  }
  h4.note {
    text-align: center;
    margin: $spacing-unit 0px;
    a {
      color: #fff;
      font-weight: bold;
    }
  }
  .basic, .advance {
    @extend .row;
    margin-top: $spacing-unit;
  }
  .text-content {
    @extend .col-md-5;
  }
  .image-content {
    @extend .col-md-4;
    @extend .col-md-offset-1;
    img {
      width: 280px;
    }
  }
}