/**
 * Site header
 */
.site-header {
  // Positioning context for the mobile navigation icon
  position: relative;
}

.navbar-float-top {
  @include link-on-dark;

  border-width: 0 0 1px;
  border-radius: 0;
  z-index: 1030;
  float: left;
  margin: 0 auto;
  width: 100%;
  .nav {
    a:hover, a:focus {
      background-color: rgba(0,0,0,0);
    }
  }
}


.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  .icon-bar {
    border: 2px solid #fff;
  }
}

@include media-query($on-palm) {
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
  }
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $base-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.banner {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #ccc;
  color: #fff;
  text-align: center;
  .content {
  padding: 150px 0px;
  }
}
