.post {
  // margin-top: $nav-height;
  .banner {
    height: 400px;
  }

  .post-header {
    @extend .container;
    margin-top: $spacing-unit;
    .content {
      @include easyread-layout;
    }
  }

  .post-content {
    @extend .container;
    .content {
      @include easyread-layout;
    }
    b, strong {
      color: $text-bold-color;
    }
    p {
      margin-bottom: $spacing-unit;
    }
    img {
      width: 100%;
    }
  }
}
