.post {
  .banner {
    height: 400px;
    @include media-query($on-palm) {
      height: 200px;
    }
  }

  .post-header {
    @extend .container;
    margin-top: $spacing-unit;
    .content {
      @include easyread-layout;
    }
    @include media-query($on-palm) {
      .content {
        h1 {
          font-size: $large-font-size;
          font-weight: bold;
        }
      }
    }
  }

  .post-content {
    @extend .container;
    .content {
      @include easyread-layout;
    }
    b, strong {
      color: $text-bold-color;
    }
    p {
      margin-bottom: $spacing-unit;
    }
    img {

    }
  }

  .next-previous-post {
    @extend .container;
  }

}
