/**
 * Site footer
 */

footer {
  @include link-on-dark;
  background-color: $grey-color-dark;

  .site-footer {
    @extend .container;
    color: $grey-color-light;
    background-color: $grey-color-dark;
    padding: $spacing-unit 0;
  }

  .contact-list, .social-media-list {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
  }

  .contact {
    @extend .col-md-3;
    @extend .col-sm-3;
  }

  .social-media-list {
    @extend .col-md-3;
    @extend .col-sm-3;
  }

  .description {
    @extend .col-md-6;
    @extend .col-sm-6;
  }

  .footer-heading {
      font-size: 18px;
      margin-bottom: $spacing-unit / 2;
  }
  @include media-query($on-palm) {
    .contact-list {
      padding-left: 20px;
    }
    .social-media-list {
      padding-left: 35px;
    }
    .description {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}

