---
layout: default
---
<div class="post">

  <div class="banner" style="background-image: url('/images/blog/banner_{{ page.banner }}.jpg');">
  </div>

  <header class="post-header">
    <div class="content">
      <h1>{{ page.title | markdownify | remove:'<p>' | remove: '</p>'}}</h1>
      <p class="post-meta">
        {{ page.date | date: "%b %-d, %Y" }}

        {% if page.author %}
         • <a href="https://www.facebook.com/{{ page.author.facebook }}">{{ page.author.name }}</a>
        {% endif %}

        {% if page.meta %}
         • {{ page.meta }}
        {% endif %}
      </p>
    </div>
  </header>

  <article class="post-content">
    <div class="content">
      {{ content }}
    </div>
    <div class="content">
      <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <div class="content">
      <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
                this.page.url = "{{ site.url }}{{ page.url }}";
                this.page.identifier = "{{ page.url }}";
            };
            (function() {  // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//uxacademy.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
  </article>
  <!--
  <div class="next-previous-post">
    {% if page.previous.url %}
      &laquo; Previous post:
      <a class="prev" href="{{page.previous.url}}">
        {{ page.previous.title | markdownify }}
      </a>
    {% endif %}

    {% if page.next.url %}
      Next post &raquo;
      <a class="next" href="{{page.next.url}}">
        {{ page.next.title | markdownify }}
      </a>
    {% endif %}
  </div>
  -->
</div>
