---
layout: default
---
<div class="post">

  <div class="banner" style="background-image: url('/images/{{ page.banner}}');">
  </div>

  <header class="post-header">
    <div class="content">
      <h1>{{ page.title | markdownify }}</h1>
      <p class="post-meta">
        {{ page.date | date: "%b %-d, %Y" }}

        {% if page.author %}
         • {{ page.author }}
        {% endif %}

        {% if page.meta %}
         • {{ page.meta }}
        {% endif %}
      </p>
    </div>
  </header>

  <article class="post-content">
    <div class="content">
      {{ content }}
    </div>
  </article>

  <div class="next-previous-post">
    {% if page.previous.url %}
      &laquo; Previous post:
      <a class="prev" href="{{page.previous.url}}">
        {{ page.previous.title | markdownify }}
      </a>
    {% endif %}

    {% if page.next.url %}
      Next post &raquo;
      <a class="next" href="{{page.next.url}}">
        {{ page.next.title | markdownify }}
      </a>
    {% endif %}
  </div>

</div>
